/* TESE*/
#tese{
    font-family: sans-serif;
    color: black;
    font-size: 40px;
}

/* Ajuste de carrucel */
#rotativo{
  width: 1000px;
  height: 260px;
}

/* Barra Presentacion  - Inicio*/
#barra{
    border: 1px solid black; 
    width: 1335px;
}

#barra2{
  border-collapse: 1px;
  width: 1335px;
}

#barra2Relleno{
  background-color: #FE8383;
}

#pres{
    font-family: sans-serif;
    font-size: 19px;
}

#pres2{
    font-family: sans-serif;
    font-size: 19px;
}

/* Diseño de parrafo */
p{
    font-family: sans-serif;
    font-size: 17px;
}

/* Diseño de boton */
#boton{
    background-color: #497EFF; /* Color del boton*/
    border-radius: 4px; /* Pulido de las orillas */
    border: 2px solid black; /* Color de borde */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Sombra */
    color: white; /* Color de letra */
    padding: 8px 32px; /* Cantidad de relleno */
    /*width: 150px;*/
    transition: all 0.5s;
    text-align: center; /* Letra en el centro */
    text-decoration: none;
    display: inline-block;
    font-size: 15px; /* Tamaño de letra */
    cursor: pointer; /* Cambio de cursos sobre el boton */
    
}

#boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#boton:hover span {
    padding-right: 25px;
  }
  
#boton:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Tipo de letra general*/
#gen{
  font-family: sans-serif;
  font-size: 17px;
}

  /* Titulos */
  #solicitud{
    border-bottom: 3px solid #6CAFD1;
  }

  #clasificacion{
    border-bottom: 3px solid #13A40C;
  }

  #tipoEvento{
    border-bottom: 3px solid #FFA62D;
  }

  #informacionEvento{
    border-bottom: 3px solid #8432B6;
  }

  #seleccionHorario{
    border-bottom: 3px solid #FD4DE8;
  }

  #equipo{
    border-bottom: 3px solid #30613C;
  }

  #datosExpositor{
    border-bottom: 3px solid #B82D57;
  }

  #informacionCapturada{
    border-bottom: 3px solid #46DDFF;
  }

  /* Diseño de tabla de captura*/
  #infoCap{
    background-color: #9DC2FF;
  }